<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<form action="" method="post">
    <center>
        <h1>Log-In</h1>
        <br></br>
        <p>Username:</p>
        <input type="text" name="username"></input>
        <br></br>
        <p>Password:</p>
        <input type="password" name="password"></input>
        <br></br>
        <input type="submit" name="loginSubmit" value="Enter"></input>
        <br></br>
        <h5>Don't have an existing account? </h5>
        <a href="signup">Sign Up</a>

    </center>
</form>
</body>
</html>